name: Integration Test

on:
  pull_request:
    branches:
      - main

env:
  DATABASE_URL: "mysql://gppj:pass@localhost:3306/localdb"
  NEXTAUTH_SECRET: dummy-auth-secret
  TEST_USER_SECRET: dummy-user-secret

jobs:
  integration-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: lts/*
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Create DB
        run: docker compose up -d --wait
      - name: Setup DB schema
        run: npx prisma db push
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npm run e2e
        env:
          GOOGLE_CLIENT_ID: dummy
          GOOGLE_CLIENT_SECRET: dummy
          NEXTAUTH_URL: http://localhost:3000

      - name: Collect containers log
        if: failure()
        uses: jwalton/gh-docker-logs@2741064ab9d7af54b0b1ffb6076cf64c16f0220e # v2.2.2
      - name: Stop DB container
        if: ${{ !cancelled() }}
        run: docker compose down
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
